#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.d3-tip {
	background: black;
	color: white;
	padding: 5px;
	border: 3px black solid;
	border-radius: 5px;
  }